<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="17413ef7-c3f7-495e-9a31-e5d4866ebaa8" Publisher="CN=Jakub Kocikowski" Version="0.0.0.1" />
  <mp:PhoneIdentity PhoneProductId="17413ef7-c3f7-495e-9a31-e5d4866ebaa8" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>QRyptoWire.App</DisplayName>
    <PublisherDisplayName>Qrypto Wire Ltd</PublisherDisplayName>
    <Logo>Assets\QRWireLogo-50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="QRyptoWire.App">
      <m3:VisualElements DisplayName="QRypto Wire" Square150x150Logo="Assets\QRWireLogo-150.png" Square44x44Logo="Assets\QRWireLogo-44.png" Description="This is not, the best app int the world... This is just a tribute" ForegroundText="light" BackgroundColor="#6c0000" ToastCapable="true">
        <m3:DefaultTile Wide310x150Logo="Assets\QRWireLogoWide.png" Square71x71Logo="Assets\QRWireLogo-71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>